$color-example: #ff0000;
$fontsize-example: 16px;

$xs: 12px;
$s: 14px;
$m: 16px;
$l: 20px;
$xl: 36px;
$xxl: 40px;

$white: #FFFFFF;
$white_smoke: #F5F5F5;
$gray_desertStorm: #ECE9E6;
$gray_gainsboro: #DDDDDD;
$gray_novel: #999999;
$orange_zorba: #A19283;
$orange_bistre: #442606;
$black_50: rgba(0, 0, 0, 0.5);
$black: #000000;

$fontfamily-mincho: "Noto Serif JP",selif;
$fontfamily-gothic: "Robot","Noto Sans JP",sans-selif;

$breakpoint-sm: 576px;
$breakpoint-me: 768px;
$breakpoint-la: 960px;
$breakpoint-ex: 1140px;

